set editing-mode vi

$if mode=vi
    set keymap vi-command
    # keympas for command mode
    Control-l: clear-screen

    set keymap vi-insert
    # keymaps for insert mode
    Control-l: clear-screen 
$endif
